.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  list-style: none;
}

.dialog {
  display: block;
}

.dialogLink {
  color: antiquewhite;
  text-decoration: none;
}

.dialogLink.activeLink {
  color: aqua;
}

.message {
  color: aliceblue;
}
